@import '@fontsource/inter/400.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/poppins/600.css';

body {
  font-family: var(--font-body);
  font-size: var(--text-sm);
  font-weight: var(--weight-regular);
  color: var(--gray-800);
  background: var(--gray-50);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: var(--weight-semibold);
  line-height: 1.2;
}
